@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/gothic.woff') format('woff');
}

@font-face {
font-family: 'Baskerville LightA';
font-style: normal;
font-weight: normal;
src: local('Baskerville LightA'), url('BASKRV_L.woff') format('woff');
}
/*=======================BODY+PAGE================*/
* {
    margin: 0;
    padding: 0;
    border-style: border-box;
  }

  body {
    display:flex;
    background: black;
    font-family: 'Century Gothic', 'Baskerville LightA', Times New Roman;
    line-height: 1.7em;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-self:center;
  }
/*=======================MENU================*/
Menu{
  display: block;
  height: 100px;
  font-weight: bold;
  font-family: 'Century Gothic';
  background-color: black;
  margin-bottom: 100px;
}

#Menu ul {
  font-size: 15px;
  list-style-type: none;
  text-align: center;
  font-family: 'Century Gothic';
  align-items: center;
}

#Menu li {
  display: inline;
  vertical-align:middle;
  font-family: 'Century Gothic';
}

#Menu a {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  color: white;
}

#Menu a:visited {
  color: white;
}

#Menu a:hover {
  color: grey;
}

#Menu a:active {
  color: black;
}

.barra-menu {
  width:100%;
  background-color: black;
}
/*=======================HEADER================*/
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display:flex;
  align-items: stretch;
  background-image: url('images/header-bg.gif');
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  margin-top:100px;
  height: 270px;
  opacity: 10%;
  text-align: center;
  justify-content: center;
}

.evidenzia {
  font-family: 'Baskerville LightA';
  font-size: 6em;
  text-align: center;
}
/*=======================BOXES================*/
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenuto{
}

.box0, .box1, .box2, .box3 {
  display: flex;
  width:100%;
  height:100%;
  background: white;
  margin-bottom: 100px;
  margin-right: 0;
  padding: 10px 40px 10px 20px;
  box-sizing: border-box;
}

.box2 img{
  float:left;
  padding-left:20px;
}
/*=======================FOOTER================*/
.footer{
  background:black;
  text-align: center;
  align-items:center;
  color: white;
  margin-bottom:250px;
}

.footer p {
  text-align: center;
  color: white;
  font-family: 'Century Gothic';
  text-decoration: none;
}
 .footer img {
   align-items: center;
   padding: 40px;
 }

.footer ul{
  font-family: 'Century Gothic';
  text-align: center;
  line-height: 40px;
}

.footer a, li{
  text-decoration: none;
  color: white;
}

/*=======================TEXT================*/
h1 {
  font-family: 'Baskerville LightA';
  font-size: 1.5em;
  line-height: 75px;
  font-weight: lighter;
  color: white;
  border-color: black;
}

h2{
  font-family: 'Baskerville LightA';
  font-size: 4em;
  text-align: left;
  color:#2E2E2E;
}

h3 {
  font-family: 'Baskerville LightA';
  font-weight:100;
  font-size: 80px;
  padding: 50px;
}

h4 {
  font-size: 8em;
  text-align: left;
  margin-bottom:100px;
}

h5{
  font-family: Times New Roman;
  font-size: 8em;
  text-align: right;
  margin-top:100px;
}

h6{
  font-size: 20px;
  font-weight: lighter;
  font-family: "Century Gothic";
  text-align: center;
  margin-left: 310px;
  line-height:0;
  color: white;
  background-color: black;
}

.box0 {
  display: flex;
  background-color: black;
  color: white;
}

.box0 h2{
  font-family: 'Century Gothic';
  font-size: 4em;
  text-align: center;
  margin-top: 30px;
}

.box0 p{
  color: white;
  font-family: 'Century Gothic';
  font-weight: lighter;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

.Benvenuti {
  display: flex;
  justify-content: space-between;
}

.benvenuto-titolo {
  border: 3px dashed white;
  width: 50%;
  text-align: center;
  margin-top:150px;
  margin-left: 150px;
  padding: 20px 20px 20px 20px;
}

.Benvenuti p{
  justify-content: center;
  text-align: center;
  line-height: 1em;
}

.benvenuti2 p{
  font-family: 'Baskerville Regukar';
  margin-top: 50px;
font-size: 18px;
font-style: italic;
}
.benvenuti3 p{
  margin-top:20px;
  margin-right: 250px;
font-size: 15px;
}

.benvenuti4 p{
font-family: 'Baskerville LightA';
margin-top:30px;
margin-left:10px;
font-style: italic;
font-size: 20px;
}

.benvenuti5 p{
  margin-top:20px;
  font-family:'Courrier New';
  margin-left: 70px;
font-size: 30px;
font-style: normal;
}

.contenuto-benvenuto {
  width: 50%;
  justify-content: center;
  padding: 10px 0px 10px 100px;

}
.contenuto-benvenuto h1 {
  font-family: 'Baskerville LightA';
  font-size: 3em;
  margin-top: 160px;
  line-height: 0.9em;
  text-align:left;
}

.contenuto-benvenuto p{
  text-align: left;
  font-size:1em;
    line-height: 1em;
    margin-bottom: 1em;
}
.box1 {
  justify-content: space-around;
}
.box1 h2, .box2 h2, .box3 h2 {
  font-family: 'Times New Roman';
  font-size: 9em;
  padding: 30px 30px 30px 0;
  margin-bottom: 20px;
  text-align: left;
}

.box1 img, .box3 img{
  float:left;
  padding: 0 50px 0 50px;
}

.citazione-temperanza, .citazione-mago, .citazione-stella {
  opacity: 80%;
  padding: 40px 20px 40px 20;
}

.citazione-temperanza p, .citazione-mago p, .citazione-stella p{
  font-family: 'Baskerville LightA';
  color: #2E2E2E;
  text-align: left;
  font-size: 1em;
  line-height: 1em;

}

.descrizione-present a{
    text-decoration: none;
    color: black;
}
.descrizione-past p, .descrizione-present p, .descrizione-future p{
  font-family: 'Century Gothic';
  font-size: 1em;
  text-align: left;
  color: black;
  margin-top: 0;
  padding: 10px 20px 10px 20px;
}

.virgolette {
  display: flex;
  font-family: 'Times New Roman';
  font-style: normal;
  color: #2E2E2E;
}


p{
  font-size: 20px;
  text-align: left;
  color: black;
}

ul {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  list-style-type: none;
}

div {
  align-items: center;
}

@media screen and (max-width: 400px) {
  body {
    font-family: 'Century Gothic', 'Baskerville LightA', 'Times New Roman';
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.barra-menu li{
  font-size: 3em;
}
.page {
  margin: auto;
  padding:0 40px 0 40px;
}
  .header {
    margin-bottom: 10px;
    align-self: center;
    padding:40px 40px 40px 40px;
}
  .header h1 {
    font-family: 'Baskerville LightA', Times New Roman;
    font-weight: bold;
    font-size: 3em;
  }
  .header h6 {
    text-align: right;
    flex: none;
    font-size: 1em;
    text-indent: 1.5em;
    margin-right:80px;
  }
  .box0 {
    justify-content: center;
    padding:0;
    margin:0;
    margin-top:150px;
  }

.box1 p, .box2 p, .box3 p{
    color: white;
}

.Benvenuti {
  display: flex;
  flex-direction: column;
}
.benvenuto-titolo h2{
font-size:7em;
margin-bottom: 1.2em;
}
.benvenuti2 p, .benvenuti3 p, .benvenuti4 p, .benvenuti5 p {
  line-height: 2.5em;
  font-size: 3em;

}
.benvenuto-titolo {
  border: 3px dashed white;
  width: 1000px;
  height:800px;
  text-align: center;
  margin-top:100px;
  margin-left:0;
  padding: 20px 20px 20px 20px;
}
.contenuto-benvenuto {
  width: 1000px;
  height:800px;
  padding-bottom: 1000px;
}
.contenuto-benvenuto h1{
  font-size: 9em;
}
.contenuto-benvenuto p{
  font-size: 4em;
}

.box1, .box2, .box3 {
  background-color: black;
  width:100%;
  height: 100%;
  justify-content: flex-start;
  margin-top:200px;
  flex-direction: column;
}
.contenuto {
  width: 100%;
}
.section {
  margin:0;
  padding: 0;
  align-items: center;
}
.citazione-temperanza, .citazione-mago, .citazione-stella {
  display:flex;
width:450px;
height:50%;
order: -4;
padding-bottom: 20px;
justify-content: space-around;
}

.citazione-temperanza p, .citazione-mago p, .citazione-stella p{
  font-family: 'Baskerville LightA';
  text-align: left;
  font-size: 2em;
  opacity: 20%;
}

.box1 img, .box2 img .box3 img{
  padding: 50px;
margin-bottom: 50px;
height:642px;
width:454px;
order:-1;
}

.box2 img {
  height:642px;
  width:454px;
  order: -2;
}

.box3 img {
  height:642px;
  width:454px;
  order:-3
}
.descrizione-past {

}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.virgolette h5, .virgolette h4{
  color: black;
  font-size: 0.1em;
  margin:0;
  padding:0;
}

.descrizione-past, .descrizione-present, .descrizione-future {
  order: -1;
}

.descrizione-past p, .descrizione-present p, .descrizione-future p{
  font-size: 3em;
  line-height:2em;
 }

.box1 h2, .box2 h2, .box3 h2{
  font-size: 15em;
  margin-top: 3em;
  margin-bottom: 0.3em;
}

.footer h3{
  margin-top: 300px;
  font-size: 10em;
  line-height: 1em;
}
.footer p, ul, li, a {
font-size: 60px;
margin-top: 20px;
}
.footer img {
  width: 375px;
  height: 375px;
}
}
