@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/gothic.woff') format('woff');
}

@font-face {
  font-family: 'Baskerville Old Face';
  src: url('BASKVILL.ttf') format('ttf');
}
/*=======================BODY+PAGE================*/
* {
    margin: 0;
    padding: 0;
    border-style: border-box;
  }

  body {
    display:flex;
    width: 100%;
    background: black;
    font-family: '';
    line-height: 1.7em;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-self:center;
  }
/*=======================MEDIA QUERY================*/
@media only screen (max width:400px) {
  .body {
    overflow-x: hidden;
    }
  .page {
    max-width: 100%;
    overflow-x: hidden;
    }

  .header,
  .box0,
  .box1,
  .box2,
  .box3,
  .footer {
    height: 100vh;
    width:100vw;
  }

  .header {
    margin-bottom:150px;
    margin-top: 150px;
  }
}
/*=======================MENU================*/
Menu{
  display: block;
  height: 100px;
  font-weight: bold;
  font-family: 'Century Gothic';
  background-color: black;
  margin-bottom: 100px;
}

#Menu ul {
  font-size: 15px;
  list-style-type: none;
  text-align: center;
  font-family: 'Century Gothic';
  align-items: center;
}

#Menu li {
  display: inline;
  vertical-align:middle;
  font-family: 'Century Gothic';
}

#Menu a {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  color: white;
}

#Menu a:visited {
  color: white;
}

#Menu a:hover {
  color: grey;
}

#Menu a:active {
  color: black;
}

.barra-menu {
  width:100%;
  background-color: black;
}
/*=======================HEADER================*/
.page {
  align-items: center;
}
.header {
  background-image: url('images/header-bg.gif');
  background-position:center;
  background-repeat: no-repeat;
  margin-bottom: 500px;
  margin-top:100px;
  height: 270px;
  opacity: 10%;
  text-align: center;
  justify-content: center;
}

.evidenzia {
  font-family: 'Baskerville Old Face';
  font-size: 150px;
  text-align: center;
}
/*=======================BOXES================*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 100vw;
}

.contenuto{
  height: 100vh;
  padding: 10px 10px 10px 10px;
  align-items: center;
  display:block;
}

.box0, .box1, .box2, .box3 {
  display: flex;
  height:600px;
  background: white;
  margin-bottom: 100px;
  margin-right: 0;
  padding: 10px 40px 10px 20px;
}

.box2 img{
  float:left;
  padding-left:20px;
}
/*=======================FOOTER================*/
.footer{
  margin-top: 20px;
  height:250px;;
  background:black;
  text-align: center;
  align-items:center;
  color: white;
  margin-bottom:250px;
}

.footer p {
  text-align: center;
  color: white;
  font-family: 'Century Gothic';
  text-decoration: none;
}
 .footer img {
   align-items: center;
   padding: 40px;
 }

.footer ul{
  font-family: 'Century Gothic';
  text-align: center;
  line-height: 40px;
}

.footer a, li{
  text-decoration: none;
  color: white;
}

/*=======================TEXT================*/
h1 {
  font-size: 30px;
  line-height: 75px;
  font-weight: normal;
  color: white;
  border-color: black;
}

h2{
  font-family: ;
  padding-bottom:40px;
  padding-left: 100px;
  font-size: 130px;
  text-align: left;
  font-weight: normal;
  color:#2E2E2E;
}

h3 {
  font-family: 'Baskerville Old Face';
  font-weight:100;
  font-size: 80px;
  padding: 50px;
}

h4 {
  font-size: 125px;
  text-align: left;
  margin-top: 50px;
  font-weight:600;
  margin-bottom: 5px;
}

h5{
  font-size: 125px;
  text-align: left;
  line-height: 0;
  margin-left: 150px;
  margin-top: 60px;
  font-weight:600;
}

h6{
  font-size: 20px;
  font-weight: lighter;
  font-family: "Century Gothic";
  text-align: center;
  margin-left: 350px;
  line-height:0;
  color: white;
  background-color: black;
}

.box0 {
  display: flex;
  background-color: black;
  color: white;
  margin-top: 200px;
  margin-bottom: 500px;
  justify-content: center;
}

.box0 h2{
  font-family: 'Baskerville Old Face';
  font-size: 80px;
  text-align: center;
}

.box0 p{
  color: white;
  font-family: 'Century Gothic';
  font-weight: lighter;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

.Benvenuti p{
  justify-content: center;
  text-align: center;
}

.benvenuti2 p{
  font-family: 'Times New Roman';
  margin-top: 50px;
margin-left:150px;
font-size: 18px;
font-style: italic;
}
.benvenuti3 p{
  margin-top:20px;
  margin-left: 250px;
font-size: 15px;
}

.benvenuti4 p{
font-family: 'Baskerville Old Face';
margin-top:30px;
margin-left: 200px;
font-style: italic;
font-size: 25px;
}
.benvenuti5 p{
  margin-top:40px;
  margin-left: 350px;
font-size: 20px;
font-weight:bolder;
font-family: 'Arial Black'
}
.benvenuti6 p{
  margin-top:30px;
  font-family:'Arial';
  margin-top:40px;
  margin-right: 250px;
font-size: 18px;
font-style:italic;
}
.benvenuti7 p{
  margin-top:20px;
  font-family:'Courrier New';
  margin-left: 150px;
font-size: 23px;
font-style: normal;
}

.contenuto-benvenuto {
  padding: 50px;
  justify-content: center;
}
.contenuto-benvenuto h1 {
  font-family: 'Baskerville Old Face';
  font-size: 60px;
  margin-top: 150px;
  text-align:left;
}

.contenuto-benvenuto p{
  text-align: left;
}

.box1 h2 {
  margin-bottom: 20px;
  padding-left: 0;
}

.box1 img{
  float:left;
  margin-right: 100px;
}

.citazione-temperanza {
  line-height: 20px;
  opacity: 80%;
  margin-left: 100px;
}
.citazione-temperanza p{
  font-family: 'Baskerville Old Face';
  color: #2E2E2E;
  text-align: left;
  font-size: 17px;
}

.box2 img{
  margin-left: 50px;
}
.citazione-mago {
  line-height: 20px;
  opacity: 80%;
}
.citazione-mago p{
  font-family: 'Baskerville Old Face';
  color: #2E2E2E;
  text-align: left;
  font-size: 17px;
  margin-left: 20px;
}

.citazione-stella {
  line-height: 20px;
  opacity: 80%;
  margin-left: 100px;
}
.citazione-stella p{
  font-family: 'Baskerville Old Face';
  color: #2E2E2E;
  text-align: left;
  font-size: 17px;
}

.box3 h2 {
  margin-bottom: 20px;
  padding-left: 0;
}
.box3 img{
    float:left;
    margin-right: 100px;
}

.virgolette {
  font-style: normal;
  color: #2E2E2E;
}

.descrizione-present {
  margin-top: 60px;
}

.descrizione-present p{
  font-family: 'Century Gothic';
  font-size: 20px;
}

.descrizione-present a{
    text-decoration: none;
    color: black;
}
.descrizione-past p {
  font-family: 'Century Gothic';
  font-size: 20px;
  text-align: left;
  color: black;
  margin-top: 0;
}

.descrizione-future p{
  font-family: 'Century Gothic';
  font-size: 20px;
  text-align: left;
  color: black;
  padding-right: 10px;
}

.virgolette-stella h5{
  font-style: normal;
  color: #2E2E2E;
  font-size: 125px;
  text-align: left;
  line-height: 0;
  margin-left: 75px;
  margin-top: 60px;
  font-weight:600;
}

p{
  font-size: 20px;
  text-align: left;
  color: black;
}

ul {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  list-style-type: none;
}

div {
  align-items: center;
}
